.jobs {
  grid-row: 2/3;
  grid-column: 2/-1;
  font-size: 3rem;
  color: black;
}

.addjob {
  grid-row: 2/3;
  grid-column: 2/-1;
  display: grid;
  grid-template-rows: 7rem auto;
  grid-template-columns: 15rem 35rem 1fr 1fr;
  position: relative;

  &-top {
    grid-column: 1/-1;
    height: 100%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(121, 121, 121);

    background-color: rgba(241, 240, 240, 0.953);

    & h1 {
      font-size: 2rem;
      color: rgb(68, 68, 68);
      justify-self: center;
      align-self: flex-end;
      margin-left: 2rem;
      padding-bottom: 2rem;
    }
  }
}

.form {
  &-group {
    grid-row: 2/3;
    grid-column: 1/3;
    align-self: start;
    justify-self: start;
    margin-left: 1rem;
    width: 97%;
    position: relative;
    padding-bottom: 16rem;

    &-1 {
      width: 100%;
    }

    & h3 {
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 4px;
    }
    &-span {
      background: $color-primary;
      width: 4rem;
      height: 4px;
      margin-left: 2rem;
    }
  }
  &-textarea {
    height: 8rem;
    width: 100%;
    justify-self: start;
    padding: .75rem;
    font: inherit;
    font-size: 1.1rem;
    color: black;
    border-radius: .52rem;
    resize: none;

    &:active{
        
    }
    &:focus{
        outline: none !important;
        border: 2px solid $color-primary
    }


  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: start;
    margin: 0.5rem;
    padding: 0.5rem;
    position: relative;

    & div {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
.invoice {
  margin-top: 3rem;
  border-radius: 2rem;
  border: 2px solid $color-primary;
  background: $color-gray;
  padding: 0 2rem;
  padding-top: 0.71rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: -5px 2px 22px -2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -5px 2px 22px -2px rgba(0, 0, 0, 0.76);
  box-shadow: -5px 2px 22px -2px rgba(0, 0, 0, 0.76);

  &__container {
    grid-row: 2/3;
    grid-column: 3/5;
    justify-self: center;

    height: max-content;
    width: 85%;
    position: sticky;
    top: 0;
  }

  &-span {
    background: $color-primary;
    width: 4rem;
    height: 4px;

    margin-bottom: 1.2rem;
  }

  &-top {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    & h3 {
    }
  }
  &-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

#jobs {
  &-btn {
    background-color: $color-green;
  }
}
.job {
  &__btn {
    width: 19rem;
    height: 7rem;
    background-color: rgb(194, 194, 194);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 333rem;
    border: 2px solid $color-primary;
    // margin: 0 auto;

    & div {
      margin: 0 0.51rem; 
    }
  }
}


.autocomplete{


    &-dropdown{

        
        & span{
            height: 3rem;
            font-size: 2rem;
            background-color: rgb(202, 202, 202);
        }



        &-container{
            background-color: rgb(214, 214, 214);
        }
    }
}

.h4{
    margin-top: 2rem;
    margin-bottom: .5rem;
}


.MuiDropzoneArea{

&-root{
   min-height: 8rem !important;
}
&-text{
    margin: 1rem !important
}
&-textcontainer{
}

}

.chipContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;

}





.checked{
  background: rgba(75, 157, 224, 0.377);

  &:hover{
    background-color: darken($color:  rgba(75, 157, 224, 0.377), $amount: 15%);
  }
}

.jobs{

  &-table{
    font-size: 21rem;
    font-weight: 700;
  }
}
.row{
  background:rgb(228, 228, 228);
 

  &:hover{
    background: darken(rgb(228, 228, 228), 13%)
  }

  &-1{
    background:rgb(255, 255, 255);


    &:hover{
      background: darken(rgb(228, 228, 228), 13%)
    }
  
  }
}


